{% extends "index.html" %} {% block title %}Edit note{% endblock %} {% block
content%}

<h2 class="display-4">{{title}}</h2 >
<p>
  <h6>Last Modified on: {{addedOn}}
  </h6>
  <div class="m2">
  {%for tag in tags%}
    <span class="badge rounded-pill bg-success">{{tag[0]}}</span> 
  {%endfor%}
    </div>
    <br/>
<form action="{{url_for('notes.content', nid=id)}}" method="POST">
  <div class="mb-3">
    <label for = "notes" class="form-label"></label>
    <textarea rows="10" id="notes" class="form-control" cols="15" name="notes">{%if notes%}{{notes}}{%endif%}</textarea>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Save</button>
    &emsp;
    <a href="/" class="btn btn-info">Home</a>
    &emsp;
    <button type="submit" class="btn btn-danger">Delete</button>
  </div>

</form>
</p>


{% endblock %}
