{% extends "index.html" %} {% block title %}Add notes{% endblock %} {% block
content%} <br />
<br />
<div align="center">
  <a href="/add-note" class="btn btn-info">Add Note</a>
</div>
<br />
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for Sno, id, title, stared in notes%}
    <tr>
      <td><a href="{{url_for('notes.content', nid=id)}}">{{Sno}} </a></td>
      <td>{{title}}</td>
      <td>
        {% if stared %}
        <span class="fa fa-star checked m-2"></span>
        {% else %}
        <span class="fa fa-star m-2"></span>
        {%endif%}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
