{% extends "index.html" %} {% block title %}Note content{% endblock %} {% block
content%}

<h2 class="display-4">{{title}}</h2>
<h6>Last Modified on: {{addedOn}}</h6>
<div class="m2">
  {%for tag in tags%}
  <a
    class="tag"
    href="{{url_for('notes.tagSearch', field='tag', value=tag)}} "
    style="color: white"
    ><span class="badge bg-secondary larger-badge">#{{tag[0]}}</span>
  </a>
  {%endfor%}
</div>
<br />

<br />
<p>{{notes}}</p>
<br />

<p>
  <a
    class="btn btn-primary"
    href="{{url_for('notes.edit', nid=id)}} "
    style="color: white"
  >
    Edit
  </a>
</p>

{% endblock %}
